PlanetWrox.Ui/Service References/ReviewServiceReference/ReviewService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReviewService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49183/Review.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49183/Review.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49183/Review.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PlanetWrox.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReviewService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetByGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByGenre" />
  </wsdl:message>
  <wsdl:message name="IReviewService_GetByGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByGenreResponse" />
  </wsdl:message>
  <wsdl:portType name="IReviewService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/GetAll" message="tns:IReviewService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/GetAllResponse" message="tns:IReviewService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/GetById" message="tns:IReviewService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/GetByIdResponse" message="tns:IReviewService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewService/GetByGenre" message="tns:IReviewService_GetByGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewService/GetByGenreResponse" message="tns:IReviewService_GetByGenre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReviewService" type="tns:IReviewService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IReviewService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IReviewService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByGenre">
      <soap:operation soapAction="http://tempuri.org/IReviewService/GetByGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReviewService">
    <wsdl:port name="BasicHttpBinding_IReviewService" binding="tns:BasicHttpBinding_IReviewService">
      <soap:address location="http://localhost:49183/Review.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>